*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.dog-head{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25em;
    height: 23em;
    /*A gradient with for directions, they layer on top of each other, the first is the highest*/
    background: linear-gradient(to bottom left, rgb(255, 171, 36),  rgba(251, 251, 251, 0) 60%),
                linear-gradient(to bottom right, rgb(255, 171, 36), rgba(251, 251, 251, 0) 60%),
                linear-gradient(to top, rgb(255, 255, 255), rgba(255, 0, 0, 0) 100%),
                linear-gradient(to bottom, white, rgba(255, 0, 0, 0) 100%);
    border-radius: 45%;
    border: 0.001rem solid black;
            }
.dog-left-ear{
    position: absolute;
    top: -2rem;
    left: -3rem;
    z-index: 999;
    /*This is how you make a triangle shape, left and right borders are transparent and the bottom is there*/
    /*Increasing size of left and right make it wider and increasing size if bottom makes it longer*/
    border-left: 4em solid rgba(0, 0, 0, 0);
    border-right: 4em solid rgba(0, 0, 0, 0);
    border-bottom: 8em solid rgb(255, 171, 36);
    /*To add a curve give left right a small border radius and the other a large*/
    border-top-left-radius: 1%;
    border-top-right-radius: 99%;
    transform: rotate(-45deg);
}
.dog-right-ear{
    position: absolute;
    top: -2rem;
    left: 20rem;
    z-index: 999;
    /*This is how you make a triangle shape, left and right borders are transparent and the bottom is there*/
    /*Increasing size of left and right make it wider and increasing size if bottom makes it longer*/
    border-left: 4em solid rgba(0, 0, 0, 0);
    border-right: 4em solid rgba(0, 0, 0, 0);
    border-bottom: 8em solid rgb(255, 171, 36);
    /*To add a curve give left right a small border radius and the other a large*/
    border-top-left-radius: 99%;
    border-top-right-radius: 1%;
    transform: rotate(45deg);
}
.dog-mouth{
    position: absolute;
    top: 12.5em;
    left: 8.5em;
    z-index: 999;
    border-top: 15em solid white;
    border-left: 0.1em solid rgba(245, 222, 179, 0);
    border-right: 0.1em solid rgba(245, 222, 179, 0);
    width: 8em;
}