*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.dog-head{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25em;
    height: 23em;
    background: linear-gradient(to bottom left, rgb(255, 171, 36),  rgba(251, 251, 251, 0) 60%),
                linear-gradient(to bottom right, rgb(255, 171, 36), rgba(251, 251, 251, 0) 60%),
                linear-gradient(to top, rgb(255, 255, 255), rgba(255, 0, 0, 0) 100%),
                linear-gradient(to bottom, white, rgba(255, 0, 0, 0) 100%);
    border-radius: 45%;
    border: 0.001rem solid black;
            }
.dog-left-ear{

}
.dog-right-ear{
    
}